.canvas {
    position: absolute;
    left: 15%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #f2f4f5;
    color: #314659;
}

.trueCanvas {
    position: relative;
    left: 0px;
    height: 99%;
    top: 0px;
    width: 99%;
}